
/* @media(max-width:767px){
    .home-section .home-text,
    .home-section .home-img{
        flex:0 0 100%;
        max-width: 100%;
    }
    .home-section .home-text{
        order: 2;
    }
    .home-section .home-text{
        text-align: center;
    }
    .home-section .full-screen{
        padding: 100px 0;
    }
    .home-section .home-img .img-box{
        margin-bottom: 40px;
        max-width: 350px;
    }
    .effect-3{
        margin-left: -60px;
    }
    .effect-4{
        left: 15px;
    }
    .effect-5{
        margin-left: -60px;
    }
} */